<!-- eslint-disable @angular-eslint/template/alt-text -->
<p>&nbsp;</p>
<div class="container">
  <form #bioForm="ngForm" (submit)="addbio();">
  <div class="row">
    <div class="col-3">
      <div class="img-overlay">
      <label for="avatar">
        <img src="assets/{{URLImg}}" height="130" width="130" class="avatar">
        <div class="overlay">
          <span class="text-overlay fa fa-upload" ></span>
        </div>
        </label>
      </div>
      <input id="avatar" name="avatar" type="file" accept="image/*" style="display:none;" (change)="fileChange($event,1)" >
    </div>

    <div class="col-9">
      <div class="container"> <!-- inizio container interno -->

          <div class="form-group row">
            <label for="descrizione" class="accent-text">Descrizione</label>
            <textarea class="form-control block" rows="3" placeholder="Inserire descrizione fisica" id="descrizione" name="descrizione" [(ngModel)]="descrizione" #desc="ngModel"></textarea>
          </div>

      </div> <!-- fine container interno -->
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="img-overlay alc" >
        <label for="avatar2">
          <img src="assets/{{ImgLG}}" max-width="100%" class="avatar">
          <div class="overlay">
            <span class="text-overlay fa fa-upload" ></span>
          </div>
        </label>
      </div>
      <input id="avatar2" name="avatar2" type="file" accept="image/*" style="display:none;" (change)="fileChange($event,2)" >
    </div>

    <div class="col-6 no-p-l">
      <div class="container np-p-l"> <!-- inizio container interno -->
        <div class="form-group row">
          <label for="idnote" class="accent-text">Annotazioni</label>
          <textarea class="form-control block" rows="7" placeholder="Annotazioni vari, segnalazioni OFF ecc.." id="idnote" name="idnote" [(ngModel)]="annotazioni" #notex="ngModel"></textarea>
        </div>
        <div class="form-group row">
          <label for="idbio" class="accent-text">Biografia</label>
          <textarea class="form-control block" rows="7" placeholder="Background del PG. NON visibile agli utenti." id="idbio" name="idbio" [(ngModel)]="background" #biox="ngModel"></textarea>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-sm btn-danger btn-block" [disabled]="!biox.dirty && !desc.dirty && !notex.dirty" >Modifica</button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
