<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="img-overlay">
      <label for="avatar">
        <img src="assets/{{URLImg}}" height="130" width="130" class="avatar">
        <div class="overlay">
          <span class="text-overlay fa fa-upload" ></span>
        </div>
      </label>
    </div>
      <input id="avatar" name="avatar" type="file" accept="image/*" style="display:none;" (change)="fileChange($event.target.files)" >
    </div>



    <div class="col-9">
      <div class="container"> <!-- inizio container interno -->
        <div class="form-group row">
          <label for="descrizione">Descrizione</label>
          <textarea class="form-control block" rows="3" placeholder="Inserire descrizione fisica" id="descrizione" [(ngModel)]="descrizione"></textarea>
        </div>
        <div class="form-group row">
          <label for="idbio">Biografia</label>
          <textarea class="form-control block" rows="7" placeholder="Biografia" id="idbio" [(ngModel)]="bio"></textarea>
        </div>
      </div> <!-- fine container interno -->
    </div>
  </div>
</div>
