.msgto {
    background-color: #242223;
}
.msgfrom {
    background-color: #474d5b;
}
.bigger {
    font-size: 1.2em;
}
.smallert1 {
    font-size: 0.8em;
    color: #aaaaaa;
}
.smallert2 {
    font-size: 0.8em;
    color: #676767;
}
.smallerf {
    font-size: 0.8em;
    color: #a78e8e;

}

.cent {
    display: flex;
    align-items: center;
    justify-content: center
}

hr  {
    color: #f44336;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f44336;
    margin: auto;
    padding: 0;
    
    }
.newl { 
    white-space:pre-wrap; 
    word-wrap: break-word;
}
