<div class="container">

  <mat-card>
    <mat-card-content>
      <form [formGroup]="myFormGroup">
      <mat-form-field class=" full">
        <mat-label>Nuovo Contatto</mat-label>

        <input type="text"
          placeholder="Nuovo Contatto"
          aria-label="Nuovo Contatto" 
          matInput
          formControlName="myFormControl"
          [matAutocomplete]="auto" > 
          <!--<mat-autocomplete #auto="matAutocomplete"  requireSelection (optionSelected)="onSelectionChanged($event)"> -->
          <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)"> 
            <mat-option *ngFor="let cont of filteredOptions | async"  [value]="cont">
              <img style="vertical-align:middle;"  src="assets/{{cont.URLImg}}" height="25" />
              {{ cont.Nome }} 
              <!-- <img src="assets/{{cont.ClanImg}}" height="25px" > -->
          </mat-option>
        </mat-autocomplete>
  
      </mat-form-field>

      </form>
    </mat-card-content>
  </mat-card>



  

  <mat-card  (click)="showmsgclan(myMsgClan.IDclan,myMsgClan.NomeClan,myMsgClan.ClanImg)">
    <mat-card-header>
      <div mat-card-avatar class="avatar1 " style="background-image: url('/assets/clan/round/{{myMsgClan.ClanImg}}');"></div>
      <mat-card-title><span [class.warning]="myMsgClan.numero != 0">Clan {{myMsgClan.NomeClan}}</span></mat-card-title>
      <mat-card-subtitle>Ultimo messaggio: {{myMsgClan.ultimo}} | <span *ngIf="myMsgClan.numero != 0">Nuovi <span class="warning">{{myMsgClan.numero}}</span></span></mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <mat-card *ngFor="let cont of status.myContatti"  (click)="showmsg(cont.IDX,cont.NomeCognome,cont.UrlImg)">
    <mat-card-header>
      <div mat-card-avatar class="avatar1 " style="background-image: url('/assets/{{cont.UrlImg}}');"></div>
      <mat-card-title><span [class.warning]="cont.Nuovi != 0">{{cont.NomeCognome}}</span></mat-card-title>
      <mat-card-subtitle>Ultimo messaggio: {{cont.Ultimo}} | <span *ngIf="cont.Nuovi != 0">Nuovi <span class="warning">{{cont.Nuovi}}</span></span></mat-card-subtitle>
    </mat-card-header>
  </mat-card>



  
</div>