
.bigf {
  font-size: 1.1em;
}

hr  {
  color: #E91E63;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E91E63;
  margin: auto;
  padding: 0;
  
  }

mat-card {
  background-color: #424242d9;
}
mat-card-title {
  justify-content: center;
  display: flex;
}

mat-card-content {
  font-size: 0.8em;
}