<p>
scheda di {{myPG.aPG.Nome}} {{myPG.aPG.Cognome}} works!
</p>

<!--  ATTRIBUTI -->
<div class="container">
  <div class="row">
    <div class="col">
      <table class="full">
        <tr *ngFor="let attr of myPG.listaAttributi">
        <td *ngIf="attr.Tipologia == 'F'">{{attr.NomeAttributo}}</td>
        <td *ngIf="attr.Tipologia == 'F'" class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > attr.Livello , 'red': ix < attr.Livello }"></i></td>
      </tr>
      </table>
    </div>
    <div class="col">
      <table class="full">
        <tr *ngFor="let attr of myPG.listaAttributi">
        <td *ngIf="attr.Tipologia == 'S'">{{attr.NomeAttributo}}</td>
        <td *ngIf="attr.Tipologia == 'S'" class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > attr.Livello , 'red': ix < attr.Livello }"></i></td>
      </tr>
      </table>
    </div>
    <div class="col">
      <table class="full">
        <tr *ngFor="let attr of myPG.listaAttributi">
          <td *ngIf="attr.Tipologia == 'M'">{{attr.NomeAttributo}}</td>
          <td *ngIf="attr.Tipologia == 'M'" class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > attr.Livello , 'red': ix < attr.Livello }"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--  ABILITA' -->
<div class="container">
  <div class="row">
    <div class="col alc">
      Abilità
    </div>
  </div>
  <div class="row">
    <div class="col alc">
      Attitudini
    </div>
    <div class="col alc">
      Capacità
    </div>
    <div class="col alc">
      Conoscenze
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="full">
        <tr *ngFor="let attr of myPG.listaSkill">
          <td *ngIf="attr.Tipologia == '1'">{{attr.NomeSkill}}</td>
          <td *ngIf="attr.Tipologia == '1'" class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > attr.Livello , 'red': ix < attr.Livello }"></i></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <table class="full">
        <tr *ngFor="let attr of myPG.listaSkill">
          <td *ngIf="attr.Tipologia == '2'">{{attr.NomeSkill}}</td>
          <td *ngIf="attr.Tipologia == '2'" class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > attr.Livello , 'red': ix < attr.Livello }"></i></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <table class="full">
        <tr *ngFor="let attr of myPG.listaSkill">
          <td *ngIf="attr.Tipologia == '3'">{{attr.NomeSkill}}</td>
          <td *ngIf="attr.Tipologia == '3'" class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > attr.Livello , 'red': ix < attr.Livello }"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- VANTAGGI -->
<div class="container">
  <div class="row">
    <div class="col alc">
      Vantaggi
    </div>
  </div>
  <div class="row">
    <div class="col alc">
      Discipline
    </div>
    <div class="col alc">
      Background
    </div>
    <div class="col alc">
      Virtù
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="full">
        <tr *ngFor="let disc of myPG.listaDiscipline">
          <td>{{disc.NomeDisc}}</td>
          <td class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > disc.LivelloDisc , 'red': ix < disc.LivelloDisc }"></i></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <table class="full">
        <tr *ngFor="let bg of myPG.listaBackground">
          <td>{{bg.NomeBackground}}</td>
          <td class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > bg.LivelloBG , 'red': ix < bg.LivelloBG }"></i></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <table class="full">
        <tr>
          <td>Coscienza</td>
          <td class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > myPG.aPG.Coscienza , 'red': ix < myPG.aPG.Coscienza }"></i></td>
        </tr>
        <tr>
          <td>SelfControl</td>
          <td class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > myPG.aPG.SelfControl , 'red': ix < myPG.aPG.SelfControl }"></i></td>
        </tr>
        <tr>
          <td>Coraggio</td>
          <td class="alr"> <i *ngFor="let i of 5 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'white': ix+1 > myPG.aPG.Coraggio , 'red': ix < myPG.aPG.Coraggio }"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
