.full {
  width: 100%;
}

.tre {
  width: 32.5%;
}

.alr {
  text-align: right;
}

.alc {
  text-align: center;
}


hr {
  color: #ff0000;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f00;
  margin: 1em 0;
  padding: 0;
}

.bigf {
  font-size: 1.1em;
}
