a , a:visited {
    color: white;
    text-decoration: none;
  }
a:hover {
    color: #E91E63;
}

td {
    padding-top: 0.5em;    
    padding-bottom: 0.5em;    
}
mat-card {
    margin-top: 0.5em;
  }
mat-card-header {
    margin-bottom: 1em;
}

.bigger {
  font-size: 1.2em;
}

mat-card-header {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}

mat-card-title {
  font-size: 1.1em !important; 
}

mat-card-subtitle {
  font-size: 1em !important;
} 

mat-card-content {
  font-size: 1em !important;
} 


