.messaggioF { color: #FF00FF; }
.messaggioM { color: #1874cd; }
hr {
  color: #ff0000;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f00;
  margin: 1em 0;
  padding: 0;
}
.sortorder:after {
  content: '\25b2';   /* BLACK UP-POINTING TRIANGLE */
}
.sortorder.reverse:after {
  content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE */
}

.btn-std {
    color: #fff;
    background-color: transparent;
    border-color: transparent; /*set the color you want here*/
    text-align: left;

}
.btn-std:hover, .btn-std:focus, .btn-std:active, .btn-std.active, .open>.dropdown-toggle.btn-std {

    background-color: #3d3d3d;
    border-color: #285e8e; /*set the color you want here*/
}
