td {
    padding-top: 0.2em;    
    padding-bottom: 0.2em;    
}
/*
mat-card {
    margin-top: 0.2em;
  }
*/

  mat-card-header {
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
  }
  
  mat-card-title {
    font-size: 1em !important; 
  }
  
  mat-card-subtitle {
    font-size: 1em;
  }  

  .bigger {
    font-size: 1.1em;
}

  
  a , a:hover, a:visited {
    color: white;
    text-decoration: none;
  }
  
  .lnkvis:hover {
    color: #E91E63;
  }

