td {
    padding-top: 0.5em;    
    padding-bottom: 0.5em;    
}
mat-card {
    margin-top: 0.5em;
  }
  .spacer {
    flex: 1 1 auto;
  }

  
  mat-card-title {
    font-size: 1em !important; 
  }
  
  mat-card-subtitle {
    font-size: 1em;
  }  

  mat-panel-description {
    font-size: 1.2em !important;
  }

  .movable:hover {
    /*transform: translateY(-3px); */
    box-shadow: 0 4px 17px rgba(255, 0, 0, 0.45);
  
  }
  
  a , a:hover, a:visited {
    color: white;
    text-decoration: none;
  }
