mat-card, mat-expansion-panel {
    padding-bottom: 0.5em;
    margin-bottom: 0.1em;
  }
  
  mat-card-title {
    font-size: 1.2em !important;
  }

  mat-card-content {
    padding-bottom: 0px !important;
  }
