<mat-card>
    <mat-card-header>
        <mat-card-title>
        Modificatori 
        </mat-card-title>
        <mat-card-subtitle>
            {{DescSalute}}: {{ModSalute}}  &nbsp;  <span *ngIf="IDsalute > -1"> ( <i *ngFor="let i of IDsalute | times" class="fa fa-square"></i><i *ngFor="let i of daurto | times" class="fa fa-minus-square"></i><i *ngFor="let i of letali | times" class="fa fa-check-square"></i><i *ngFor="let i of aggravati | times" class="fa fa-check-square dred"></i> ) </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="display: flex;">
        Punti sangue: ( {{status.PS}}/{{status.PSmax}} ) &nbsp; <i *ngFor="let i of status.PSmax | times ; let ix = index" class="fa fa-square" [ngClass]="{'dred': (ix < status.PS) , 'white': (ix+1 > status.PS)  }"></i>
          <span class="spacer"></span>
          Uso FdV
          <mat-checkbox [disabled]="status.FdV < 2" [(ngModel)]="usofdv" (change)="changefdv()" style="margin-top: -0.9em;"></mat-checkbox>
          <span class="spacer"></span>
          FdV: ( {{status.FdV}}/{{status.FdVmax}} )  &nbsp; <i *ngFor="let i of status.FdVmax | times ; let ix = index" class="fa " [ngClass]="{'fa-circle dred': (ix < status.FdV) , 'fa-times-circle white': ((ix+1 > status.FdV) && (ix < status.FdVmax)) }"></i><i *ngFor="let i of 10-status.FdVmax | times " class="fa fa-circle white" ></i>
    </mat-card-content>

</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
        Check Attributi/Skill 
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="checkFG">
        <mat-form-field>
            <mat-label>Attributo</mat-label>
            <mat-select  formControlName="attrFC"> 
                <mat-option *ngFor="let attr of listaattributi"  [value]="attr.IDattributo">
                    {{attr.NomeAttributo}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>    
            <mat-label>Skill</mat-label>
            <mat-select  formControlName="skillFC"> 
                <mat-option [value]="0">-</mat-option>
                <mat-option *ngFor="let attr of listaskill"  [value]="attr.IDskill">
                    {{attr.NomeSkill}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Difficoltà</mat-label>
            <mat-select  formControlName="diffFC"> 
                <mat-option *ngFor="let diff of listadifficolta"  [value]="diff">
                    {{diff}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
         <button mat-button color="primary" [disabled]="!status.Alive || !checkFG.valid" (click)="docheck()"><mat-icon >play_circle_outline</mat-icon></button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
        Cura ferite 
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    Spesa di {{UsoPS}} PS <button mat-button color="primary" [disabled]="!(status.Alive && status.PS>1 && (letali>0 || daurto >0) )" (click)="gocura()"><mat-icon >play_circle_outline</mat-icon></button>
    </mat-card-content>
</mat-card>