<!-- eslint-disable @angular-eslint/template/alt-text -->
<mat-card>
    <mat-card-header>
        <mat-card-title>
        Modificatori 
        </mat-card-title>
        <mat-card-subtitle>
            {{myaPG.DescSalute}}: {{myaPG.ModSalute}}  &nbsp;  <span *ngIf="myaPG.IDsalute > -1"> ( <i *ngFor="let i of myaPG.daurto | times" class="fa fa-minus-square white"></i><i *ngFor="let i of letali | times" class="fa fa-times-rectangle white "></i><i *ngFor="let i of this.myaPG.aggravati | times" class="fa fa-times-rectangle  dred"></i><i *ngFor="let i of this.myaPG.IDsalute | times" class="fa fa-square white"></i> ) </span>
        </mat-card-subtitle>
        <span class="spacer"></span>
        <img class="icon" src="assets/icons/velocita.png" *ngIf="velocitaattiva===0 && velocita>0">
        <img class="icon" src="assets/icons/potenza.png" *ngIf="potenzaattiva===true ">
        <img class="icon" src="assets/icons/letali.png" *ngIf="sessvar_letali===true">
        <img class="icon" src="assets/icons/aggravati.png" *ngIf="sessvar_aggravati===true">
        <img class="icon" src="assets/icons/zulo.png" *ngIf="sessvar_zulo===true">
    </mat-card-header>
    <mat-card-content style="display: flex;">
        Punti sangue: ( {{status.PS}}/{{status.PSmax}} ) &nbsp; <i *ngFor="let i of status.PSmax | times ; let ix = index" class="fa fa-square" [ngClass]="{'dred': (ix < status.PS) , 'white': (ix+1 > status.PS)  }"></i>
          <span class="spacer"></span>
          Uso FdV
          <mat-checkbox [disabled]="status.FdV < 2 || this.myaPG.ModSalute === 0 " [(ngModel)]="usofdv" (change)="changefdv()" style="margin-top: -0.9em;"></mat-checkbox>
          <span class="spacer"></span>
          FdV: ( {{status.FdV}}/{{status.FdVmax}} )  &nbsp; <i *ngFor="let i of status.FdVmax | times ; let ix = index" class="fa " [ngClass]="{'fa-circle dred': (ix < status.FdV) , 'fa-times-circle white': ((ix+1 > status.FdV) && (ix < status.FdVmax)) }"></i><i *ngFor="let i of 10-status.FdVmax | times " class="fa fa-circle white" ></i>
    </mat-card-content>

</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Check Attributi/Skill 
        </mat-card-title>
    </mat-card-header>

    <mat-card-content style="display: flex;">
            
        <form [formGroup]="checkFG">
        <mat-form-field>
            <mat-label>Attributo</mat-label>
            <mat-select  formControlName="attrFC"> 
                <mat-option *ngFor="let attr of listaattributi"  [value]="attr.IDattributo">
                    {{attr.NomeAttributo}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>    
            <mat-label>Skill</mat-label>
            <mat-select  formControlName="skillFC"> 
                <mat-option [value]="0">-</mat-option>
                <mat-option *ngFor="let attr of listaskill"  [value]="attr.IDskill">
                    {{attr.NomeSkill}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Difficoltà</mat-label>
            <mat-select  formControlName="diffFC"> 
                <mat-option *ngFor="let diff of listadifficolta"  [value]="diff">
                    {{diff}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        </form>
        <span class="spacer"></span>
        <button mat-button color="primary" [disabled]="!status.Alive || !checkFG.valid" ><mat-icon >play_circle_outline</mat-icon></button>

    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
        Cura ferite 
        </mat-card-title>
        <mat-card-subtitle>
            Spesa massima di {{usabili}} PS 
            <span *ngIf="poolaggravati > 0 "> - ( Pool Aggravati {{poolaggravati}}/5 )</span>
        </mat-card-subtitle>
        <span class="spacer"></span>
        <button mat-button color="primary" [disabled]="!(status.Alive && status.PS>1 && this.myaPG.IDsalute< 7 && this.myaPG.IDsalute > -1 )" (click)="gocura()"><mat-icon >play_circle_outline</mat-icon></button>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Corpo a Corpo - Rissa
        </mat-card-title>
        <mat-card-subtitle>
            <div style="display: inline-flex;">
            ( Destrezza+Rissa ) &nbsp; <i *ngFor="let i of (destrezza+rissa+modsalute) | times ; let ix = index" class="fa fa-circle dred" ></i>
            </div>
        </mat-card-subtitle>
        
        <span class="spacer"></span>
        <form [formGroup]="rissaFG">            
            <mat-form-field>
                <mat-label>Target</mat-label>
                <mat-select  formControlName="targetFC"> 
                    <mat-option *ngFor="let cont of presenti"  [value]="cont">
                        <img style="vertical-align:middle;"  src="assets/{{cont.URLImg}}" height="25" />
                        {{ cont.NomeCognome }} 
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary" [disabled]="! (status.Alive && rissaFG.valid && this.myaPG.IDsalute>0 )" (click)="gorissa()" ><mat-icon >play_circle_outline</mat-icon></button>
        </form>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Imbraccia arma
        </mat-card-title>
        <mat-card-subtitle>
            <div style="display: inline-flex;">
            Arma utilizzata: {{ usato.Nome}} - <img style="vertical-align:middle;"  src="assets/oggetti/{{usato.Immagine}}" height="25" />
            </div>
        </mat-card-subtitle>
        
        <span class="spacer"></span>
        <form [formGroup]="armaFG">            
            <mat-form-field>
                <mat-label>Arma</mat-label>
                <mat-select  formControlName="armaFC"> 
                    <mat-option *ngFor="let cont of listaposseduti"  [value]="cont">
                        <img style="vertical-align:middle;"  src="assets/oggetti/{{cont.Immagine}}" height="25" />
                        {{ cont.Nome }} 
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary" [disabled]="! (status.Alive && armaFG.valid && this.myaPG.IDsalute>0 && armaFG.value.armaFC.IDoggetto !== usato.IDoggetto)" (click)="goarma()" ><mat-icon >play_circle_outline</mat-icon></button>
        </form>
    </mat-card-header>
</mat-card>

<mat-card *ngIf="usato.IDtipoOggetto === 3 ">
    <mat-card-header>
        <mat-card-title>
            Armi da Fuoco
        </mat-card-title>
        <mat-card-subtitle>
            <div style="display: inline-flex;">
            ( Destrezza + Armi da Fuoco ) &nbsp; <i *ngFor="let i of (destrezza+fuoco+modsalute)  | times ; let ix = index" class="fa fa-circle dred" ></i>
            </div>
        </mat-card-subtitle>
        Raffica <mat-checkbox [disabled]="usato.Raffica==='N'" [(ngModel)]="raffica" style="margin-top: -0.9em;"></mat-checkbox>        
        <span class="spacer"></span>
        <form [formGroup]="fuocoFG">            
            <mat-form-field>
                <mat-label>Target</mat-label>
                <mat-select  formControlName="targetFC"> 
                    <mat-option *ngFor="let cont of presenti"  [value]="cont">
                        <img style="vertical-align:middle;"  src="assets/{{cont.URLImg}}" height="25" />
                        {{ cont.NomeCognome }} 
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary" [disabled]="! (status.Alive && fuocoFG.valid && this.myaPG.IDsalute>0 && this.velocitaattiva === 0 )" (click)="gofuoco()" ><mat-icon >play_circle_outline</mat-icon></button>
        </form>
    </mat-card-header>
</mat-card>
