
.bigf {
  font-size: 1.1em;
}

hr {
  color: #ff0000;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f00;
  margin: 1em 0;
  padding: 0;
}

.btn-xs {
    padding: 0px 2px;
    /*font-size: 20px; */
    border-radius: 3px;
    font-size: 0.7em;
    background-color: #f0f0f0;
}

.btn.btn-primary:disabled{
    background-color: #a0a0a0;
}
.btn-xs:disabled{
    background-color: #a0a0a0;
}
.btn-xs:enabled:hover{
    background-color: #f02618;
}


mat-card-title {
  justify-content: center;
  display: flex;
}

mat-card-content {
  font-size: 0.8em;
}



.colleft {
  padding-right: 0.3em !important;
}
.colcent {
  padding-left: 0.3em !important;
  padding-right: 0.3em !important;
}
.colright {
  padding-left: 0.3em !important;
}