

<!-- <app-modal id="modal-scheda"> -->
<app-modal #modalpx modalId="modalpx">
  <div class="app-modal-header">
    <i>Quest e Log Spesa PX</i><button type="button" class="btn close" style="color: red !important;" (click)="this.status.pxon=false; modalpx.hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-questpx *ngIf="this.status.pxon"></app-questpx>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="this.status.pxon=false; modalpx.hide()">Chiudi</button>
  </div>
</app-modal>

<!-- <app-modal id="modal-scheda"> -->

<app-modal #modalbio modalId="modalbio">
  <div class="app-modal-header">
    <i>Biografia e Profilo Personaggio</i><button type="button" class="btn close" style="color: red !important;" (click)="this.status.bioon=false; modalbio.hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-bio *ngIf="this.status.bioon"></app-bio>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="this.status.bioon=false; modalbio.hide()">Chiudi</button>
  </div>
</app-modal>

<!-- ----->

<!-- <app-modal id="modal-scheda"> -->

<app-modal #modalanagrafe modalId="modalanagrafe">
  <div class="app-modal-header">
    <i>Anagrafe Personaggi</i><button type="button" class="btn close" style="color: red !important;" (click)="this.status.anagon=false; modalanagrafe.hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-anagrafe *ngIf="this.status.anagon"></app-anagrafe>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="this.status.anagon=false; modalanagrafe.hide()">Chiudi</button>
  </div>
</app-modal>

<!-- ----->
<app-modal #modalscheda modalId="modalscheda" >
  <div class="app-modal-header">
    <i>Scheda Personaggio</i><button type="button" class="btn close" style="color: red !important;" (click)="this.status.schedaon=false; modalscheda.hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-scheda *ngIf="this.status.schedaon"></app-scheda>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="this.status.schedaon=false; modalscheda.hide()">Chiudi</button>
  </div>
</app-modal>
<!-- <app-modal id="modal-scheda"> -->

<app-modal #modalschedaoth modalId="modalschedaoth">
  <div class="app-modal-header">
    <i>Scheda Personaggio</i><button type="button" class="btn close" style="color: red !important;" (click)="this.status.schedaothon=false; modalschedaoth.hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-schedaother *ngIf="this.status.schedaothon"></app-schedaother>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="this.status.schedaothon=false; modalschedaoth.hide()">Chiudi</button>
  </div>
</app-modal>

<!-- ----->
<app-modal #modalpoteri modalId="modalpoteri">
  <div class="app-modal-header">
    <i>Poteri</i><button type="button" class="btn close" style="color: red !important;" (click)="this.status.poterion=false; modalpoteri.hide()">&times;</button>
  </div>
  <div class="app-modal-body">
    <app-poteri *ngIf="this.status.poterion"></app-poteri>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="this.status.poterion=false; modalpoteri.hide()">Chiudi</button>
  </div>
</app-modal>

<!-- ----->


<button (click)="toggleMenu()" class="menubutton">
  <span>toggle menu</span>
</button>


<div class="container">
  <div class="row">
    <div class="col-sm-7" style="height: 370px; background-color:black; background:rgba(0,0,0,0.5); color: white;">
      <router-outlet></router-outlet>
    </div>
    <div style="min-width: 230px; height: 370px; background-color:black; background:rgba(0,0,0,0.5);">
      <app-presenti></app-presenti>
    </div>
    <div style="min-width: 230px; height: 370px; background-color:black; background:rgba(0,0,0,0.5);">
      <app-luoghi></app-luoghi>
    </div>
  </div>
</div>



<app-menu [@slideInOut]="status.menuState"></app-menu>
