<mat-toolbar>
  <button mat-icon-button class="menu-icon" color="warn" aria-label="menu" (click)="sidenav.toggle()"  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Roma by Night </span>
</mat-toolbar>


<mat-sidenav-container style="background-color: transparent;">
  <mat-sidenav class="sidenav" #sidenav mode="side"  (click)="sidenav.toggle()">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content >




    <!-- <app-modal id="modal-modalpx"> -->
      
    <app-modal #modalpx modalId="modalpx">
      <div class="app-modal-header my-modal-header true_primary">
        Quest e Log Spesa PX <mat-icon color="warn" class="closing-button" (click)="this.status.pxon=false; modalpx.hide()">close</mat-icon>
        
      </div>
      <div class="app-modal-body">
        <app-questpx *ngIf="this.status.pxon"></app-questpx>
      </div>

    </app-modal>

    <!-- ----->



    <!-- <app-modal id="modal-modalanagrafe"> -->

    <app-modal #modalanagrafe modalId="modalanagrafe">
      <div class="app-modal-header my-modal-header true_primary">
        Anagrafe Personaggi <mat-icon color="warn" class="closing-button" (click)="this.status.anagon=false; modalanagrafe.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-anagrafe *ngIf="this.status.anagon"></app-anagrafe>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modalscheda"> -->

    <app-modal #modalscheda modalId="modalscheda" >
      <div class="app-modal-header my-modal-header true_primary">
        Scheda Personaggio <mat-icon color="warn" class="closing-button" (click)="this.status.schedaon=false; modalscheda.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-scheda *ngIf="this.status.schedaon"></app-scheda>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modalschedaoth"> -->

    <app-modal #modalschedaoth modalId="modalschedaoth">
      <div class="app-modal-header  my-modal-header true_primary">
        Scheda Personaggio <mat-icon color="warn" class="closing-button" (click)="this.status.schedaothon=false; modalschedaoth.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-schedaother *ngIf="this.status.schedaothon"></app-schedaother>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modalpoteri"> -->

    <app-modal #modalpoteri modalId="modalpoteri">
      <div class="app-modal-header my-modal-header true_primary">
        Poteri <mat-icon color="warn" class="closing-button" (click)="this.status.poterion=false; modalpoteri.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-poteri *ngIf="this.status.poterion"></app-poteri>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modalfinanza"> -->

    <app-modal #modalfinanza modalId="modalfinanza">
      <div class="app-modal-header my-modal-header true_primary">
        Finanze <mat-icon color="warn" class="closing-button" (click)="this.status.finanzaon=false; modalfinanza.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-finanza *ngIf="this.status.finanzaon"></app-finanza>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modalmessaggi"> -->

    <app-modal #modalmessaggi modalId="modalmessaggi">
      <div class="app-modal-header my-modal-header true_primary">
        Messaggi <mat-icon color="warn" class="closing-button" (click)="this.status.messaggion=false; modalmessaggi.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-messaggi *ngIf="this.status.messaggion"></app-messaggi>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modallistamsg"> -->

    <app-modal #modallistamsg modalId="modallistamsg">
      <div class="app-modal-header my-modal-header true_primary">
        Messaggi con {{status.contattonome}} <mat-icon color="warn" class="closing-button" (click)="this.status.listamsgon=false; modallistamsg.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-readmessaggi *ngIf="this.status.listamsgon"></app-readmessaggi>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modallistamsgclan"> -->

    <app-modal #modallistamsgclan modalId="modallistamsgclan">
      <div class="app-modal-header my-modal-header true_primary">
        Messaggi con il clan {{status.clancontattonome}} <mat-icon color="warn" class="closing-button" (click)="this.status.listamsgclanon=false; modallistamsgclan.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <app-readmessaggiclan *ngIf="this.status.listamsgclanon"></app-readmessaggiclan>
      </div>
    </app-modal>

    <!-- ----->

    <!-- <app-modal id="modal-modalforum"> -->

    <app-modal #modalforum modalId="modalforum">
      <div class="app-modal-header my-modal-header true_primary">
        Forum <mat-icon color="warn" class="closing-button" (click)="this.status.forumon=false; modalforum.hide()">close</mat-icon>
      </div>
      <div class="app-modal-body">
        <router-outlet *ngIf="this.status.forumon" name="forum"></router-outlet>
      </div>
    </app-modal>

  <!-- ----->
  <!-- ----->


    <div style="height: calc(100vh - 64px);">


      <div class="container-fluid ">
        <div class="row full">

          <div class="col-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1">
                  &nbsp;
                </div>
                <div class="col-11" style="height: 80vh;">
                  <router-outlet></router-outlet>
               </div>
              </div>
            </div>
          </div>
   

          <div class="col-4" style="height: 80vh;">

            <div class="container">
              <div class="row" >
                <div class="col-11">

                  <!------->
                  <div class="container">
                    <div class="row" >
                      <div class="col-10">
                        <app-toolvari></app-toolvari>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-10">
                        <app-descluogo></app-descluogo>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-10">
                        <app-presenti></app-presenti>
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-10">
                        <app-luoghi></app-luoghi>    
                      </div>
                    </div>
                  </div>
                <!------->
                </div>
                <div class="col-1">
                  &nbsp;
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  

  </mat-sidenav-content>
</mat-sidenav-container>

