<button (click)="toggleMenu()" class="menubutton">
  <span>toggle menu</span>
</button>


<div class="container">

  <div class="row">
    <div class="col-sm-7" style="background-color:transparent; color:#ffffff">
      <app-chat></app-chat>
    </div>
    <div style="min-width: 230px; height: 370px; background-color:black; background-color:black; background:rgba(0,0,0,0.5);">
      <app-presenti></app-presenti>
    </div>
    <div style="min-width: 230px; height: 370px; background-color:black; background:rgba(0,0,0,0.5);">
      <app-luoghi></app-luoghi>
    </div>
  </div>
</div>



<app-menu [@slideInOut]="menuState"></app-menu>
