
.msgfrom {
    background-color: #474d5b;
}
.bigger {
    font-size: 1.2em;
}
.smallert {
    font-size: 0.8em;
    color: #676767;
}
.smallerf {
    font-size: 0.8em;
    color: #a78e8e;

}

.cent {
    display: flex;
    align-items: center;
    justify-content: center
}

hr {
    color: #ff0000;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f00;
    margin: 1em 0;
    padding: 0;
  }



.newl { 
    white-space:pre-wrap; 
    word-wrap: break-word;
}

.ico:hover {
    color: #ff0000;
}


mat-card {
    padding-bottom: 0.5em;
    margin-bottom: 0.1em;
  }
mat-card-title {
    font-size: 1.2em !important;
    font-weight: normal !important;
}
.avatar1 {
    background-size: cover;
}
.mdc-card__actions {
    min-height: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}