<mat-tab-group>
  <mat-tab label="Quest"> 

    <!----   QUESTA E' LA PARTE CON IL LOG DELLE QUEST -->
    <mat-card *ngFor="let q of quests" >
      <mat-card-header [ngClass]="{'warning': q.Status=='Open' }">
        <mat-card-title>{{q.Quest}}</mat-card-title>
        <mat-card-subtitle >
            PX : {{q.Px}} | Data: {{q.DataOpen | date:'dd.MM.yyyy'}} | Status: {{q.Status}}
            <span *ngIf="q.Status != 'Open' ">
              | Data chiusura: {{q.DataClose | date:'dd.MM.yyyy'}}
            </span>
        </mat-card-subtitle>
        <span class="spacer"></span>
        <span *ngIf="q.Status == 'Open' ">
          <mat-icon color="warn" class="icon-08x">error_outline</mat-icon>
        </span>
        <span *ngIf="q.Status == 'KO' ">
          <mat-icon color="warn" class="icon-08x">thumb_down</mat-icon>
        </span>
        <span *ngIf="q.Status == 'OK' ">
          <mat-icon color="accent" class="icon-08x" >thumb_up</mat-icon>
        </span>
      </mat-card-header>
    </mat-card>
  
  </mat-tab>
  <mat-tab label="Log PX">

    <!----   QUESTA E' LA PARTE CON IL LOG DELLA SPESA PX -->

    <mat-card>

          <table>
            <tr >
              <td class="tre alc">PX Guadagnati: {{mylog.pxin}}</td>
              <td class="tre alc">PX Spesi: {{mylog.pxout}}</td>
              <td class="tre alc">PX Disponibili: {{mylog.pxin - mylog.pxout}}</td>
            </tr>
          </table>

    </mat-card>

  
    <p></p>
    <div class="container">
      <div class="row ">
        <div class="col-2">Data</div>
        <div class="col-8">Spesa</div>
        <div class="col-1">PX</div>
        <div class="col-1">&nbsp;</div>
      </div>
      <div class="row" *ngFor="let l of mylog.log">
        <div class="col-2">{{l.data | date:'dd.MM.yyyy'}}</div>
        <div class="col-8">{{l.dati}}</div>
        <div class="col-1">{{l.px}}</div>
        <div class="col-1">{{l.Master == "0" ? '':'M'}}</div>
      </div>
    </div>

  </mat-tab>
  
  <!--
  <mat-tab label="Third"> Content 3 </mat-tab>
  -->
</mat-tab-group>
