mat-card {
  padding-bottom: 0.5em;
  margin-bottom: 0.1em;
}

mat-card-header {
  padding-top: 0.5em !important;
}

mat-card-title {
  font-size: 1.2em !important;
}

mat-card-subtitle {
  font-size: 1em;
}



hr {
  color: #f44336;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f44336;
  margin: 1em 0;
  padding: 0;
}



.nav-tabs{
  color: #fff;

}

.nav-tabs > li > a,
.nav-tabs > li > a:focus {
  border-color: transparent transparent #ff0000 transparent;
  /* background-color: #202020; */
  background-color: transparent;
  color: #b0b0b0 ;
}

.nav-tabs > li > a:hover {
  background-color: #3d3d3d;
  border-color: #ff0000 ;
  color: #ffffff ;
}


.nav-link.active  {
  background-color: #a00505 !important;
  /* border-color: #ff0000 ; */
  color: #ffffff !important;
}

.tab-pane {
  background-color: transparent;
}



.rborder {
  border-color: transparent transparent #ff0000 transparent;
  border-bottom: 1px solid #f00;
}
