
.tabellapresenti td, th {
  font-size: 0.8em;
  color: #ffffff;
}
.tabellapresenti {
  margin:auto;
}
.tabellapresenti th {
    text-align: center;
}

mat-card {
  /* background: #020202; */
  background: transparent;
}