<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/alt-text -->

<mat-card *ngIf="oggettousato.IDoggetto !== 0">
    <mat-card-header>
        <mat-card-title>Oggetto Usato: {{oggettousato.Nome}}</mat-card-title>
        <mat-card-subtitle>
            <span *ngIf="oggettousato.IDtipoOggetto === 1 || oggettousato.IDtipoOggetto === 2 ">
                Danno: <span class="accent-text">Forza +{{oggettousato.Danno}}</span> | Tipo danno: <span class="accent-text">
                <span *ngIf="oggettousato.IDtipoOggetto === 1">Da Urto</span>
                <span *ngIf="oggettousato.IDtipoOggetto === 2">Letale</span>
                </span> | Bonus/Malus: <span class="accent-text">{{oggettousato.BonusTiro}}</span> 
            </span>
            <span *ngIf="oggettousato.IDtipoOggetto === 3">
                Danno: <span class="accent-text">{{oggettousato.Danno}}</span> | Precisione: <span class="accent-text">+{{oggettousato.BonusTiro}}</span> | Colpi: <span class="accent-text">{{oggettousato.Caricatore}}</span> |
                Rate tiro: <span class="accent-text">{{oggettousato.Rate}}</span> | Raffica: <span class="accent-text">{{oggettousato.Raffica}}</span>
            </span>
        </mat-card-subtitle>
        <span class="spacer"></span>
        <img mat-card-sm-image src="assets/oggetti/{{oggettousato.Immagine}}"  >
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Oggetti indossati <hr class="full"></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container jcc">
            <table>
            <tr>
                <td>
                    <table>
                    <tr>
                        <td style="height: 50px;">
                            &nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <button class="btn"  (click)="swapout(1)"  [disabled]="miadisp.tasca1 === 0 ">
                            <img src="assets/oggetti/{{miadisp.tasca1_img}}" height="50" [ngClass]="{'bord': miadisp.tasca1 !==0, 'free':miadisp.tasca1 === 0 }" >
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <button class="btn" (click)="swapout(2)"  [disabled]="miadisp.tasca2 === 0 ">
                            <img src="assets/oggetti/{{miadisp.tasca2_img}}" height="50" [ngClass]="{'bord': miadisp.tasca2 !==0, 'free':miadisp.tasca2 === 0 }"  >
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 50px;">
                            &nbsp;
                        </td>
                    </tr>
                    </table>
                </td>
                <td>
                    <span *ngIf="this.status.Sesso==='M'"><img src="assets/dummy-Mx.png" height="200px;"></span>
                    <span *ngIf="this.status.Sesso==='F'"><img src="assets/dummy-Fx.png" height="200px;"></span>
                    
                </td>
                <td>
                    <table>
                    <tr>
                        <td style="height: 20px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <button class="btn"  (click)="swapout(3)"  [disabled]="miadisp.giacca === 0 ">
                            <img src="assets/oggetti/{{miadisp.giacca_img}}" height="80" [ngClass]="{'bord': miadisp.giacca !==0, 'free':miadisp.giacca === 0 }" >
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <button class="btn"  (click)="swapout(4)"  [disabled]="miadisp.impermeabile === 0 ">
                            <img src="assets/oggetti/{{miadisp.impermeabile_img}}" height="80" [ngClass]="{'bord': miadisp.impermeabile !==0, 'free':miadisp.impermeabile === 0 }" >
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 20px;">
                            &nbsp;
                        </td>
                    </tr>
                    </table>
                </td>
                <td>
                    <table>
                    <tr>
                        <td style="height: 50px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <span style="font-size: 2em;"> + </span> 
                            <button class="btn"  (click)="swapout(5)"  [disabled]="miadisp.nessuno === 0 ">
                            <img src="assets/oggetti/{{miadisp.nessuno_img}}" height="100" [ngClass]="{'bord': miadisp.nessuno !==0, 'free':miadisp.nessuno === 0 }" >
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 50px;">
                            &nbsp;
                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>


<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>whatshot</mat-icon> 
      </mat-panel-title>
      <mat-panel-description>Oggetti posseduti</mat-panel-description>
    </mat-expansion-panel-header>


    
    <mat-card *ngFor="let item of oggettiposseduti" class="movable" (click)="swapin(item.IDoggetto)">
        <mat-card-header>
            <mat-card-title>{{item.Nome}} <span *ngIf="item.Quantita>1">({{item.Quantita}})</span></mat-card-title>
            <mat-card-subtitle>
                <span *ngIf="item.IDtipoOggetto === 1 || item.IDtipoOggetto === 2 ">
                    Danno: <span class="accent-text">Forza +{{item.Danno}}</span> | Tipo danno: <span class="accent-text">
                    <span *ngIf="item.IDtipoOggetto === 1">Da Urto</span>
                    <span *ngIf="item.IDtipoOggetto === 2">Letale</span>
                    </span> | Bonus/Malus: <span class="accent-text">{{item.BonusTiro}}</span> 
                </span>
                <span *ngIf="item.IDtipoOggetto === 3">
                    Danno: <span class="accent-text">{{item.Danno}}</span> | Precisione: <span class="accent-text">+{{item.BonusTiro}}</span> | Colpi: <span class="accent-text">{{item.Caricatore}}</span> |
                    Rate tiro: <span class="accent-text">{{item.Rate}}</span> | Raffica: <span class="accent-text">{{item.Raffica}}</span>
                </span>
            </mat-card-subtitle>
            <span class="spacer"></span>
            <img mat-card-sm-image src="assets/oggetti/{{item.Immagine}}"  >
        </mat-card-header>
    </mat-card>


</mat-expansion-panel>

