hr {
    color: #f44336;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f44336;
    margin: 1em 0;
    padding: 0;
  }

  mat-card, mat-expansion-panel {
    padding-bottom: 0.5em;
    margin-bottom: 0.1em;
  }
  
  mat-card-title {
    font-size: 1.2em !important;
  }

  .bord {
    border: 2px solid #f44336;
  }

  .free {
    border: 2px solid #6D8794;
  }