/***
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
***/

.form-group {
  margin-top: 0.5em;
}
mat-card-title {
  justify-content: center;
  display: flex;
}