<div class="full" *ngFor="let disc of myListaSceltaPotere; let i = index">
  <div class="row" >
    <div class="col-1"><hr></div>
    <div class="col-2 alc bigf">{{disc.NomeDisc}}</div>
    <div class="col-1"><hr></div>
    <div class="col">&nbsp;</div>
  </div>

  <div class="row" >
    <div class="col colx">  <!-- liv 1 -->
      <div *ngFor="let pot of disc.pot">
        <button type="button" (click)="selezionapot(pot.IDpotere, i)" class="btn btn-block btn-sm" *ngIf="pot.LivPotere == 1" [disabled]="pot.bloccato==1 || pot.accessibile==0 || disc.numpresi==disc.LivelloDisc" [ngClass]="{'bred': pot.bloccato==1 , 'bgreen': pot.preso==1}">
          {{pot.NomePotere}}
        </button>
      </div>
    </div>
    <div class="col colx">  <!-- liv 2 -->
      <div *ngFor="let pot of disc.pot">
        <button type="button" (click)="selezionapot(pot.IDpotere, i)" class="btn btn-block btn-sm" *ngIf="pot.LivPotere == 2" [disabled]="pot.bloccato==1 || pot.accessibile==0 || disc.numpresi<1 || disc.numpresi==disc.LivelloDisc" [ngClass]="{'bred': pot.bloccato==1 , 'bgreen': pot.preso==1}">
          {{pot.NomePotere}}
        </button>
      </div>
    </div>
    <div class="col colx">  <!-- liv 3 -->
      <div *ngFor="let pot of disc.pot">
        <button type="button" (click)="selezionapot(pot.IDpotere, i)" class="btn btn-block btn-sm" *ngIf="pot.LivPotere == 3" [disabled]="pot.bloccato==1 || pot.accessibile==0 || disc.numpresi<2 || disc.numpresi==disc.LivelloDisc" [ngClass]="{'bred': pot.bloccato==1 , 'bgreen': pot.preso==1}">
          {{pot.NomePotere}}
        </button>
      </div>
    </div>
    <div class="col colx">  <!-- liv 4 -->
      <div *ngFor="let pot of disc.pot">
        <button type="button"  (click)="selezionapot(pot.IDpotere, i)" class="btn btn-block btn-sm" *ngIf="pot.LivPotere == 4" [disabled]="pot.bloccato==1 || pot.accessibile==0 || disc.numpresi<3 || disc.numpresi==disc.LivelloDisc" [ngClass]="{'bred': pot.bloccato==1 , 'bgreen': pot.preso==1}">
          {{pot.NomePotere}}
        </button>
      </div>
    </div>
    <div class="col colx">  <!-- liv 5 -->
      <div *ngFor="let pot of disc.pot">
        <button type="button" (click)="selezionapot(pot.IDpotere, i)" class=" btn btn-block btn-sm" *ngIf="pot.LivPotere == 5" [disabled]="pot.bloccato==1 || pot.accessibile==0 || disc.numpresi<4 || disc.numpresi==disc.LivelloDisc" [ngClass]="{'bred': pot.bloccato==1 , 'bgreen': pot.preso==1}">
          {{pot.NomePotere}}
        </button>
      </div>
    </div>
  </div>

</div>

<div class="row" >
  <div class="col">&nbsp;</div>
</div>

<div class="row" >
  <div class="col-1">&nbsp;</div>
  <div class="col">
    <button type="button" class=" btn btn-block btn-sm btn-danger" [disabled]="reset==0" (click)="dosave()" >Salva</button>
  </div>
  <div class="col">
    <button type="button" class=" btn btn-block btn-sm btn-danger" [disabled]="reset==0" (click)="doreset()" >Annulla/Reset</button>
  </div>
  <div class="col-1">&nbsp;</div>
</div>


<!--- MODAL di conferma -->
<div (click)="onContainerClicked($event,1)" class="modal fade" tabindex="-1" [ngClass]="{'show': visibleAnimate[1]}"
     [ngStyle]="{'display': visible[1] ? 'block' : 'none', 'opacity': visibleAnimate[1] ? 1 : 0}">
  <div class="modal-dialog modal-dialog-centered modal-lg" >
    <div class="modal-content">
      <div class="modal-header" style="display: block;">
        <i>Conferma Scelta Poteri</i>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
        Confermi l'acquisizione dei seguenti poteri:
        <ul>
          <li *ngFor="let item of listaspesa">{{item.disc}} - {{item.NomePotere}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" (click)="goback()">Cancella</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="save_goback()">Conferma</button>
      </div>
    </div>
  </div>
</div>
