<!-- eslint-disable @angular-eslint/template/alt-text -->

  <mat-card>
    <mat-card-content style="display: flex;">
      Punti sangue: ( {{status.PS}}/{{status.PSmax}} ) &nbsp; <i *ngFor="let i of status.PSmax | times ; let ix = index" class="fa fa-square" [ngClass]="{'dred': (ix < status.PS) , 'white': (ix+1 > status.PS)  }"></i>
      <span class="spacer"></span>
      FdV: ( {{status.FdV}}/{{status.FdVmax}} )  &nbsp; <i *ngFor="let i of status.FdVmax | times ; let ix = index" class="fa " [ngClass]="{'fa-circle dred': (ix < status.FdV) , 'fa-times-circle white': ((ix+1 > status.FdV) && (ix < status.FdVmax)) }"></i><i *ngFor="let i of 10-status.FdVmax | times " class="fa fa-circle white" ></i>
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel *ngFor="let item of myLista ; index as itx" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="assets/icons/discipline/{{item.IcoDisc}}" class="icon" >
      </mat-panel-title>
      <mat-panel-description>
       {{item.NomeDisc}}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-card *ngFor="let sub of item.pot; ; index as s" [ngClass]="{'movable': ( this.status.Alive && this.myvariformarray[itx].myFormGroupArray[s].valid && (this.status.FdV > sub.UsoFdV ) && (this.status.PS > sub.UsoSangue) )}" (click)="gopoteri(item.pot, sub.ID, itx, s)" class="btn" > 
      <mat-card-header>
      <mat-card-title>
        {{sub.NomeTaum}} {{sub.LivelloPotere}}. {{sub.NomePotere}}
      </mat-card-title>
    </mat-card-header>
      <mat-card-content class="full">
        <div class="content" class="full">
          <span *ngIf="sub.Passive==='S'">- Passiva -</span>
          <span *ngIf="sub.Auto ==='S'">- Automatica -</span>
          <div *ngIf="sub.Auto ==='N' && sub.Passive==='N'" class="row" style="width: 100%;">
            <div class="col-3 nopadright">
                  {{sub.NomeAttributo}}
                  <span *ngIf="sub.NomeAttributo !== null && sub.NomeSkill !== null ">+</span> {{sub.NomeSkill}} 
                  <span *ngIf="(sub.NomeAttributo !== null || sub.NomeSkill !== null) && sub.NomeMerito !=='' ">+ </span> {{sub.NomeMerito}} 
            </div>
            <div class="col-3 nopadding">
              <i *ngFor="let i of 10 | times ; let ix = index" class="fa fa-circle" [ngClass]="{'dred': (ix < sub.TotaleDP) , 'white': (ix+1 > sub.TotaleDP)  }"></i>
            </div>
            <div class="col-3 nopadding">
                  Diff.: 
                  <span *ngIf="sub.Difficolta !== 0"> {{sub.Difficolta}} </span>
                  <span *ngIf="sub.Difficolta === 0 || sub.Resistito !== null"> ( <span *ngIf="sub.Resistito !== null">Resist: </span>
                    <span *ngIf="sub.DVNomeMerito !== '' ">{{sub.DVNomeMerito}}</span>
                    <span *ngIf="sub.DVNomeAttributo !== null ">+ {{sub.DVNomeAttributo}}</span>
                    <span *ngIf="sub.DVNomeSkill !== null ">+ {{sub.DVNomeSkill}}</span>
                    )
                  </span>
            </div>
            <div class="col-3 nopadding" style="text-align: right;" >
              <span *ngIf="sub.Target === 'S'">
                <form [formGroup]="myvariformarray[itx].myFormGroupArray[s]">
                  <mat-form-field class="full">
                    <mat-label>Target</mat-label>
                      <mat-select  formControlName="targetFC"> 
                        <mat-option *ngFor="let cont of presenti"  [value]="cont">
                          <img style="vertical-align:middle;"  src="assets/{{cont.URLImg}}" height="25" />
                          {{ cont.NomeCognome }} 
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </form>
              </span>
            </div>
          </div>
          <span *ngIf="sub.UsoSangue !== 0"> Costo sangue: <i *ngFor="let i of sub.UsoSangue| times" class="fa fa-square dred" ></i></span> <span *ngIf="sub.UsoFdV !== 0"> Costo FdV: <i *ngFor="let i of sub.UsoFdV| times " class="fa fa-circle dred" ></i></span>
        </div>
      </mat-card-content>

    </mat-card>
 

  </mat-expansion-panel>

