.map-container {
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    height: 100%;
    width: 100%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.infobox .leaflet-control{
    max-width: 25% ;
    background-color: brown !important;
    width: 200px;
    word-wrap: break-word;
}