<!-- eslint-disable @angular-eslint/template/alt-text -->


<mat-expansion-panel  >
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon svgIcon="sword"></mat-icon> 
        </mat-panel-title>
        <mat-panel-description>
            Armi bianche e da rissa
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-card *ngFor="let item of armidamischia">
        <mat-card-header>
            <mat-card-title>{{item.Nome}}</mat-card-title>
            <mat-card-subtitle>{{item.Descrizione}}</mat-card-subtitle>
            <span class="spacer"></span>
            <img mat-card-sm-image src="assets/oggetti/{{item.Immagine}}"  >
        </mat-card-header>
        <mat-card-content>
            Danno: <span class="accent-text">Forza +{{item.Danno}}</span> | Tipo danno: <span class="accent-text">
                <span *ngIf="item.IDtipoOggetto===1">Da Urto</span>
                <span *ngIf="item.IDtipoOggetto===2">Letale</span>
            </span> | Bonus/Malus: <span class="accent-text">{{item.BonusTiro}}</span>
             | Occultabilità: <span class="accent-text">{{item.Occultabile}}</span>
            <p>Posseduti: <span class="accent-text">{{item.Quantita}}</span></p>         
        </mat-card-content>
        <mat-card-actions align="end">
            {{item.Costo}}€ <span class="spacer"></span>
            <button mat-button color="warn" [disabled]="cash < item.Costo" (click)="acquista(item.IDoggetto)">Acquista</button>

        </mat-card-actions>
    </mat-card>

</mat-expansion-panel>

<mat-expansion-panel  >
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon svgIcon="gun"></mat-icon> 
        </mat-panel-title>
        <mat-panel-description>
            Armi da fuoco 
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card *ngFor="let item of armidafuoco">
        <mat-card-header>
            <mat-card-title>{{item.Nome}}</mat-card-title>
            <mat-card-subtitle>{{item.Descrizione}}</mat-card-subtitle>
            <span class="spacer"></span>
            <img mat-card-sm-image src="assets/oggetti/{{item.Immagine}}"  >
        </mat-card-header>
        <mat-card-content>
            Danno: <span class="accent-text">{{item.Danno}}</span> | Precisione: <span class="accent-text">+{{item.BonusTiro}}</span> | Colpi: <span class="accent-text">{{item.Caricatore}}</span> |
            Rate tiro: <span class="accent-text">{{item.Rate}}</span> | Raffica: <span class="accent-text">{{item.Raffica}}</span> | Occultabilità: <span class="accent-text">{{item.Occultabile}}</span>
            <p>Posseduti: <span class="accent-text">{{item.Quantita}}</span></p>         
        </mat-card-content>
        <mat-card-actions align="end">
            {{item.Costo}}€ <span class="spacer"></span>
            <button mat-button color="warn" *ngIf="livellocriminalita >= item.Reperibilita" [disabled]="cash < item.Costo" (click)="acquista(item.IDoggetto)">Acquista</button>
            <span *ngIf="livellocriminalita < item.Reperibilita" class="warning">Conoscenza dei Bassifondi insufficiente</span>
        </mat-card-actions>
    </mat-card>
</mat-expansion-panel>

<mat-expansion-panel  >
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon svgIcon="pentacle"></mat-icon> 
        </mat-panel-title>
        <mat-panel-description>
            Oggetti esoterici
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-card *ngFor="let item of oggettiesot">
        <mat-card-header>
            <mat-card-title>{{item.Nome}}</mat-card-title>
            <mat-card-subtitle>{{item.Descrizione}}</mat-card-subtitle>
            <span class="spacer"></span>
            <img mat-card-sm-image src="assets/oggetti/{{item.Immagine}}"  >
        </mat-card-header>
        <mat-card-content>
            <p>Posseduti: <span class="accent-text">{{item.Quantita}}</span></p>         
        </mat-card-content>
        <mat-card-actions align="end">
            {{item.Costo}}€ <span class="spacer"></span>
            <button mat-button color="warn" [disabled]="cash < item.Costo" (click)="acquista(item.IDoggetto)">Acquista</button>
        </mat-card-actions>
    </mat-card>
</mat-expansion-panel>


<mat-expansion-panel  >
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>whatshot</mat-icon> 
        </mat-panel-title>
        <mat-panel-description>
            Oggetti vari
        </mat-panel-description>
    </mat-expansion-panel-header>
</mat-expansion-panel>


