
mat-expansion-panel , mat-card {
    margin-top: 0.5em;
  }
  
  mat-panel-description {
    font-size: 1.2em !important;
  }
  mat-card-actions {
    font-size: 1em;
    font-weight: bold;
  }

mat-card {
    padding-bottom: 0.5em;
    margin-bottom: 0.1em;
  }
  
  mat-card-title {
    font-size: 1.2em !important;
  }
  
  mat-card-subtitle {
    font-size: 1em;
  }