:host {
  background: #282c34;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 200px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  font-size: 16px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
}

.btn-std {
    color: #fff;
    background-color: transparent;
    border-color: transparent; /*set the color you want here*/
    text-align: left;

}
.btn-std:hover, .btn-std:focus, .btn-std:active, .btn-std.active, .open>.dropdown-toggle.btn-std {

    background-color: #3d3d3d;
    border-color: #285e8e; /*set the color you want here*/
}
