

  <mat-card  (click)="openmodal('modalscheda')">
    <mat-card-content class="all">
      <i class="fa fa-user-circle"></i> Scheda Personaggio
    </mat-card-content>
  </mat-card>

  <!--
  <mat-card  (click)="openmodal('modalbio')">
    <mat-card-content class="all">
      <i class="fa fa-book"></i> Bio e Profilo Personaggio
    </mat-card-content>
  </mat-card>
  -->
  <mat-card  (click)="openmodal('modalpx')">
    <mat-card-content class="all">
      <i class="fa fa-address-card"></i> Quest e Log PX
    </mat-card-content>
  </mat-card>
  <mat-card  (click)="openmodal('modalpoteri')">
    <mat-card-content class="all">
      <i class="fa fa-bolt"></i> Poteri
    </mat-card-content>
  </mat-card>
  <mat-card  (click)="openmodal('modalazioni')">
    <mat-card-content class="all">
      <i class="fa fa-fire"></i> Azioni
    </mat-card-content>
  </mat-card>
  
  <mat-card  (click)="openmodal('modalfinanza')">
    <mat-card-content class="all">
      <i class="fa fa-eur"></i> Finanze
    </mat-card-content>
  </mat-card>

  <mat-card  (click)="openmodal('modalanagrafe')">
    <mat-card-content class="all">
      <i class="fa fa-institution"></i> Anagrafica Personaggi
    </mat-card-content>
  </mat-card>
  <mat-card  (click)="openmodal('modalmessaggi')">
    <mat-card-content class="all">
      <i class="fa fa-telegram"></i> Messaggi
    </mat-card-content>
  </mat-card>
  <mat-card  (click)="openmodal('modalforum')">
    <mat-card-content class="all">
      <i class="fa fa-newspaper-o"></i> Forum
    </mat-card-content>
  </mat-card>
  <mat-card  (click)="gotomodule('/spesapx')">
    <mat-card-content class="all">
      <i class="fa fa-pencil"></i> Spesa PX
    </mat-card-content>
  </mat-card>



  <mat-card  (click)="dologout()" matCardColor="accent">
    <mat-card-content class="all" >
      <i class="fa fa-sign-out"></i> Logout
    </mat-card-content>
  </mat-card>

