<div style="width: 95%;">
  <button (click)="closemenu()" class="btn btn-std btn-sm" >
    <span>&times;</span>
  </button>
<ul>
  <li><button type="button" class="btn btn-md btn-std btn-block" (click)="openmodal('modalscheda')">Scheda Personaggio</button></li>
  <li><button type="button" class="btn btn-md btn-std btn-block" (click)="openmodal('modalpx')">Quest e Log PX</button></li>
  <li><button type="button" class="btn btn-md btn-std btn-block" (click)="gotomodule('/spesapx')">Spesa PX</button></li>
  <li>Azioni</li>
  <li>Messaggi</li>
  <li>Menu Item</li>
  <li>Menu Item</li>
  <li><button type="button" class="btn btn-md btn-primary btn-block" (click)="dologout()">Logout</button></li>
</ul>
</div>
