/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "~leaflet/dist/leaflet.css";



html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #121212;}


html, body {
	/* background-color: #000000; */
	color: #ffffff;
	background-image: url('assets/Rome-1600x900.jpg');
	background-repeat: no-repeat;
	background-position: center top;
  background-size: cover;

}

.accent-text{
  color: #f48fb1;
}
.accent {
  color: #607D8B;
}
.warning {
  color: #E91E63;
}

.clickable {
  transition: all 0.2s ease-in-out;
}

.clickable:hover {
  color: #E91E63 !important ;
}



.red {
  color: #ff0000;
}
.blue {
  color: #1874cd;
}
.pink {
  color: #ff69b4;
}
.green {
  color: #008b00;
}
.white {
  color: #ffffff;
}

.dred {
  color: #b00000;
}
.dgreen {
  color: #228B22;
}
.gold {
  color: #ffb300;
}






.alr {
  text-align: right;
}

.alc {
  text-align: center;
}

.full {
  width: 100%;
}


.tre {
  width: 32.5%;
}


.cdk-overlay-container, .cdk-overlay-pane { 
  z-index: 9999 !important;
}


.cdk-global-overlay-wrapper  {
  z-index: 9999 !important;
}

.spacer {
  flex: 1 1 auto;
}

.newl { 
  white-space:pre-wrap; 
  word-wrap: break-word;
}

.closing-button {
  float: right;
  opacity: 75%;
  /* padding: 1rem;
  margin: -1rem -1rem -1rem auto; */
}
.closing-button:hover {
  opacity: 100%;
}



.movable:hover {
  /*transform: translateY(-3px); */
  box-shadow: 0 4px 17px rgba(255, 0, 0, 0.45);

}