/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

.red {
  color: #ff0000;
}
.blue {
  color: #1874cd;
}
.pink {
  color: #ff69b4;
}
.green {
  color: #008b00;
}
.white {
  color: #ffffff;
}

html, body {
	background-color: #000000;
	color: #ffffff;
	background-image: url('assets/Rome-1600x900.jpg');	
	background-repeat: no-repeat;
	background-position: center top;
}
