
.bigf {
  font-size: 1.1em;
}

hr  {
  color: #f44336;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f44336;
  margin: auto;
  padding: 0;
  
  }

.card-sec {
  padding-bottom: 1.2em;
  /* height: 50vh !important; */
  height: 25wh !important;
  overflow: auto;
  aspect-ratio: 2/3;
}
.col-sec {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

mat-card-header {
  font-size: 1em !important;
}

mat-card-title {
  font-size: 1.2em !important;
}
mat-card-subtitle {
  font-size: 1em !important;
}

mat-card {
  margin-top: 0.1em;
  padding-bottom: 0.5em;
  margin-bottom: 0.1em;
}
