
.bigf {
  font-size: 1.1em;
}

hr {
  color: #ff0000;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f00;
  margin: 1em 0;
  padding: 0;
}

.card-sec {
  padding-bottom: 1.2em;
  /* height: 50vh !important; */
  height: 25wh !important;
  overflow: auto;
  aspect-ratio: 2/3;
}
.col-sec {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

mat-card-header {
  font-size: 1em !important;
}
mat-card-subtitle {
  font-size: 1em !important;
}

