.modal {
    background: rgba(0,0,0,0.6);
  }

.modal-dialog, .modal-content {
  height: 80% !important;
}

.modal-content {
  background-color: #202020 !important ;
  color: white;
  font-size: 0.8rem;
  padding-left: 0px;
  padding-right: 0px;
}

.modal-body {
  background-color: #303030;
}
